body {
  color: black;
  margin-bottom: 60px;
}


a.nav-link {
  color: black;
}

a.nav-link:hover {
  color: #555;
}


.hero-banner {
  color: black;
}


.navbar-brand {
  color: black !important;
}


.hero-banner h1,
.hero-banner p {
  color: white;
}


.movie-card {
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
}

.movie-card a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.movie-details {
  text-align: center;
  padding: 10px;
}

.movie-title {
  font-weight: bold;
  margin-top: 10px;
}

.movie-year {
  color: #aaa;
}

.movie-genre {
  color: #777;
  margin-bottom: 10px;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;

}

.copyright {
  font-size: 14px;
  color: #777;
}

.carousel-item {
  height: 500px; /* Adjust height as needed */
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0);
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  color: white;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Adjust text color as needed */
}

.carousel-caption h1,
.carousel-caption p {
  margin: 0;
}
